.idea
reference_inn_by_api/.idea
reference_inn_by_api/venv
reference_inn/.idea
reference_inn/venv
import_vsk/.idea
import_vsk/venv
import_nw/.idea
import_nw/venv
import/.idea
import/venv
export/.idea
export/venv
export_nw/.idea
export_nw/venv
export_vsk/.idea
export_vsk/venv
fts/.idea
fts/venv
liquibase/.idea
pgdata
clickhouse